In [1]:
setwd("/import/home/share/zw/HSS")
getwd()

[1] "/import/home/share/zw/HSS"

In [2]:
# install.packages("devtools")
# devtools::install_github("statwangz/HSS")
library(HSS)

Loading required package: tidyverse

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Loading required package: genio

In [3]:
# reference genotypes data file
ref_file <- "1000G.EUR.QC.hm3.ind"

# LD block data
head(block)

  chr   start   stop
1 chr1    10583 1892607
2 chr1  1892607 3582736
3 chr1  3582736 4380811
4 chr1  4380811 5913893
5 chr1  5913893 7247335
6 chr1  7247335 9365199

In [4]:
# group the SNPs using LD block data
snp_group <- ld_block_group(ref_file, snp_col = "id", pos_col = "pos")
head(snp_group)

Reading: 1000G.EUR.QC.hm3.ind.bim

Reading: 1000G.EUR.QC.hm3.ind.fam

Reading: 1000G.EUR.QC.hm3.ind.bed

  SNP        GROUP
1 rs12565286 1
2 rs3094315  1
3 rs3131972  1
4 rs3115860  1
5 rs3131969  1
6 rs3131967  1

In [5]:
save(snp_group, file = "out/snp_group.rda")